# Azure OpenAI
azure_openai_deployment=gpt-4-sql
azure_openai_endpoint=https://myopenai-resource.openai.azure.com/
azure_openai_api_version=2024-06-01
azure_openai_api_key=your_api_key_here

# SQL
sql_connection_string=Driver={ODBC Driver 18 for SQL Server};Server=tcp:mydb.database.windows.net,1433;Database=mydb;Authentication=ActiveDirectoryMsi;

# Monitoring
appinsights_key=00000000-1111-2222-3333-444444444444


# General
environment=development
